.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

blockquote {
  background-color: #474d58;
  padding: 2rem; 
  border-radius: 3px;
}

.Author-name {
  display: block;
  text-align: end;
  font-size: calc(10px + 1vmin);
}

button {
  margin-right: 5px;
}